# requirements.txt - Cleaned for Production Deployment

[global]
build-system = pep517

# Core ML Libraries (Needed for app.py to run)
Flask==2.3.3
gunicorn
xgboost
scikit-learn
pandas
numpy

# Other essential utilities (for API and data)
scipy
joblib